header
  nav
    section.search
      script(async src="https://cse.google.com/cse.js?cx=f4f16b1fdddc4415a")
      div.gcse-search
    h1
      a(href="/") Radical Records
    ul
      li: a(href="/") Home
      li: a(href="/genres") Genres
      li: a(href="/products") Products
      li: a(href="/cart") Shopping Cart
      if user
        li Welcome, #{user.displayName}!
        li: a(href="/auth/logout") Log Out
      else
        li: a(href="/auth/login") Sign In
section.results
  p No search results yet. Perform a search to see results here.
