doctype html
html
  head
    title Login with Google
    link(rel="stylesheet", type="text/css", href="/styles/styles.css")

  body
    .container
      .google-logo
      h1 Login with Google
      a(href="/auth/google")
        button.btn Login with Google
